<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse mr-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a routerLink="/customers" class="link-primary"> Home</a>
                </ul>
    
                <button class="btn btn-outline-success ml-3" type="submit" (click)="logout()">Logout</button>
    
            </div>
        </div>
    </nav>
    <h4 class="text-success text-center">Add Customer</h4>
<div class="d-flex  justify-content-center" style="height:80vh">
        <form [formGroup]="addUserForm" (ngSubmit)='onCreateUser()' style="width: 100%;" class="add-user-form">
            <div class="form-group">
                <label for="">First Name <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="FirstName" aria-describedby="basic-addon1"
                        formControlName="firstName" placeholder="Please enter your first name">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('firstName').touched  && !addUserForm.get('firstName').valid">
                    <span *ngIf="addUserForm.get('firstName').errors['required']" class="text-danger"> Required</span>
                    <span *ngIf="addUserForm.get('firstName').errors['pattern']" class="text-danger"> Must contain only
                        letters</span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Middle Name <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="middleName" placeholder="Please enter your middle name">
                </div>
            </div>
            <div class="form-group">
                <label for="">Last Name<span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="lastName" placeholder="Please enter your last name">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('lastName').touched  && !addUserForm.get('lastName').valid  ">
                    <span *ngIf="addUserForm.get('lastName').errors['required']" class="text-danger"> Required</span>
                    <span *ngIf="addUserForm.get('lastName').errors['pattern']" class="text-danger"> Must contain only
                        letters</span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Date Of Birth <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="dateOfBirth" max="{{birthdayLimitDate | date:'yyyy-MM-dd'}}">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('dateOfBirth').touched  && !addUserForm.get('dateOfBirth').valid  ">
                    <span *ngIf="addUserForm.get('dateOfBirth').errors['required']" class="text-danger"> Required</span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Gender <span class="text-danger">*</span></label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1"
                        formControlName="gender" value="male">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" checked
                        formControlName="gender" value="female">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Female
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="">Status <span class="text-danger">*</span></label>
                <div class="input-group">
                    <select class="form-select" aria-label="Status" formControlName="status">
                        <option value="" selected>Select status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="">Citizenship No<span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="citizenshipNo">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('citizenshipNo').touched  && !addUserForm.get('citizenshipNo').valid  ">
                    <span *ngIf="addUserForm.get('citizenshipNo').errors['required']" class="text-danger">
                        Required</span>
                    <span *ngIf="addUserForm.get('citizenshipNo').errors['pattern']" class="text-danger"> Must contain
                        only
                        numbers and dash</span>
                </span>
                <span *ngIf="isCitizenshipUnique===false" class="text-danger"> Citizenship number is arlready registered</span>
            </div>
            <div class="form-group">
                <label for="">Address <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="address">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('address').touched  && !addUserForm.get('address').valid  ">
                    <span *ngIf="addUserForm.get('address').errors['required']" class="text-danger">
                        Required</span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Marital Status<span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Marital Status" formControlName="maritalStatus">
                    <option value="" selected>Select relationship</option>
                    <option value="married">Married</option>
                    <option value="single">Single</option>
                </select>
                <span class="help-block"
                    *ngIf="addUserForm.get('maritalStatus').touched  && !addUserForm.get('maritalStatus').valid  ">
                    <span *ngIf="addUserForm.get('maritalStatus').errors['required']" class="text-danger">
                        Required</span>
                </span>
            </div>
            <div class="form-group">
                <label for="">Email Address <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="emailAddress">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('emailAddress').touched  && !addUserForm.get('emailAddress').valid">
                    <span *ngIf="addUserForm.get('emailAddress').errors['required']" class="text-danger">
                        Required</span>
                    <span *ngIf="addUserForm.get('emailAddress').errors['email']" class="text-danger"> Must be in email
                        format</span>
                </span>
                <span *ngIf="isEmailUnique==false" class="text-danger"> Email is arlready registered</span>

            </div>
            <div class="form-group">
                <label for="">Mobile Number <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                        formControlName="mobileNumber">
                </div>
                <span class="help-block"
                    *ngIf="addUserForm.get('mobileNumber').touched  && !addUserForm.get('mobileNumber').valid  ">
                    <span *ngIf="addUserForm.get('mobileNumber').errors['required']" class="text-danger">
                        Required</span>
                        <span *ngIf="addUserForm.get('mobileNumber').errors['minlength']" class="text-danger">
                            Must be 10 digits</span>
                </span>
            </div>
            <h3>Relatives</h3>
                <table class="table table-striped" formArrayName="relatives">
                    <thead>
                        <tr>
                            <th>Relation</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let relative of relatives.controls; let i= index">
                        <tr [formGroupName]="i">
                            <td>
                        <label for="">
                            {{relative.value.relationship|titlecase}} <span class="text-danger">*</span>
                        </label>
                            </td>
                            <td>
                                <input type="text" class="form-control" formControlName="relationPersonName">
                                <span class="help-block"
                                    *ngIf="relative.get?.('relationPersonName')?.touched  && !relative.get?.('relationPersonName')?.valid  ">
                                    <span *ngIf="relative.get?.('relationPersonName').errors!=null">
                                        <span *ngIf="relative.get?.('relationPersonName')?.errors['required']"
                                            class="text-danger">
                                            Required</span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <div>
                <div formGroupName="userLoginRequest">
                    <h5>Customer Login Details</h5>
                    <div class="form-group">
                        <label for="">Username <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                                formControlName="username">
                        </div>
                        <span class="help-block"
                            *ngIf="addUserForm.get('userLoginRequest.username').touched  && !addUserForm.get('userLoginRequest.username').valid  ">
                            <span *ngIf="addUserForm.get('userLoginRequest.username').errors['required']" class="text-danger">
                                Required</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="">Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                                formControlName="password">
                        </div>
                        <span class="help-block"
                            *ngIf="addUserForm.get('userLoginRequest.password').touched  && !addUserForm.get('userLoginRequest.password').valid  ">
                            <span *ngIf="addUserForm.get('userLoginRequest.password').errors['required']" class="text-danger">
                                Required</span>
                        </span>
                    </div>
                    </div>
            </div>
                    <button type=" button" class="btn btn-primary mt-3 mb-3" type="submit">
                <span class="text-center">Add User</span>
            </button>
        </form>
    </div>
</div>